@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    /*background-color: #3f51b5*/
}

.g {
    color: #51b53f
}



#lvhistory, footer.mdl-mini-footer{position: relative;
    top: 2em;}

header,
nav,
.mdl-dialog, div.mdl-layout__drawer {
    background: #51b53f
}
.primary{float: left;}
.secondary{float: right;}

footer.mdl-mini-footer{background: #2196f3;
color: white;
width: 100%
}
#two {
    top: 40em;
    position: relative;
}

.mdl-layout-title,
.t, .mdl-layout__drawer .mdl-navigation a.mdl-navigation__link {
    color: white
}

#c {
    margin-left: 8em;
}



#a {
    font-size: 7em;
    left: 12vh;
}

#add {
    background: mediumseagreen;
    height: 12em;
    width: 12em;
}

#load2 {
    height: 8em
}

#rem,
#remH {
    background: orangered;
}

#produkt {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}

#a1,
#a2,
#a3,
#a4 {
    color: #005599;
    font-weight: 900;
}

#produkt,
#a1,
#a2,
#a3,
#a4 {
    font-size: small;
}

#lv {
    background: ;
}

.mdl-list__item {
    background: #47c431
}

.danger-zone {
    height: 100px;
}



#hdr1,
#hdr3,
#hdr4 {
    background: #0088BB;
    font-size: large;
}



#ftr1,
#ftr2,
#ftr3,
#ftr4 {
    background: #005599;
    font-size: large;
}