body,
#one .card,
#one .card-reveal {
    background-color: #6eeee9
}

.autocomplete-content.dropdown-content {
    position: absolute;
    z-index: 1
}

#c {
    margin-left: 10em;
}

.t {
    color: #01579b
}

.h {}

#add {
    background: mediumseagreen;
}

#load2 {
    height: 5em
}

#rem,
#remH {
    background: orangered;
}

#produkt {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}

#a1,
#a2,
#a3,
#a4 {
    color: #005599;
    font-weight: 900;
}

#produkt,
#a1,
#a2,
#a3,
#a4 {
    font-size: small;
}

#lv {
    background: ;
}

.danger-zone {
    height: 100px;
}



#hdr1,
#hdr3,
#hdr4 {
    background: #0088BB;
    font-size: large;
}



#ftr1,
#ftr2,
#ftr3,
#ftr4 {
    background: #005599;
    font-size: large;
}